/* GLOBAL */

@font-face {
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  src: url("/fonts/l_10646.woff") format("woff");
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/img/loader.gif) center no-repeat #fff;
}
  

html {
  font-family: 'Fira Sans', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  opacity: 1;
  transition: 0.7s opacity;
}

::selection {
  color: white;
  background-color: #0A7FFF;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background-color: #0A7FFF;
}


/* NAVIGATION */

  .mobile {
    display: none;
    position: absolute;
    width: 100%;
    top: 75px;
    z-index: 4;
  }
  .mobile div {
    display: none;
  }
  .mobile button {
    position: absolute;
    top: -50px;
    right: 20px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: url("/img/burger.png") center no-repeat;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease;
  }
  .mobile button.expanded {
    transform: rotate(90deg);
    background-color: transparent;
    border: 0;
  }
  .mobile a {
    font-size: 24px;
    display: block;
    background-color: #0A7FFF;
    color: #fff;
    padding: 15px;
    border-bottom: 1px #fff solid;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,0.4);
    transition: 1s ease-in-out;
  }
  a.nav-item {
    /* background: #262626; */
    text-align: center;
    padding: 23.25px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .1s ease-in-out;
  }
  a.nav-item:hover
 
  {
    border-bottom: 4px solid #FAAF40;
    transition: .1s ease-in-out;
    /* background: #e7e7e7; */
  }
  .desktop {
    top: 13px;
    right: 10vw;
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
  }

  .desktop a {
    box-sizing: border-box;
    margin-left: 30px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
  }
  .desktop a:last-child {
    border-right: none;
  }
  article {
    padding: 0 30px 15px;
  }



  /* HERO */

  .hero {
    background-color: #0A7FFF;
    height: 85vh;
    border-radius: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logopack {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 30px;
  }

  .logotype {
  opacity: 0.9;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 800;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.4pt;
  }

.lead {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 52px;
  /* margin-top: 100px; */
    
}

.leadline {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: 15px;
}

  .underbtn {
  font-size: 11px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-top: 20px;
  }

  .mac-logo {
    font-family: "Lucida Grande";
  }

  /* buttons */
.btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

 .btn-git {
  background: url(../img/github.png) center no-repeat;
  border: 0;
  width: 55px;
  height: 55px;
  background-color: #fff;
  box-shadow: 0 4px 8px -1px var(--shadow);
  transition: .2s ease-in-out;
  border-radius: 27.5px;
  margin-left: 20px;
 }

/* HERO: RATER */

aside {
 position: relative;
 display: flex;
 flex-direction: column;
 margin-left: 50px;
 /* margin-top: 100px; */
}

.rater-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rater {
  z-index: 10;
}

.rating {
  -webkit-text-stroke: 3px white;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
  font-size: 180px;
  color: rgba(0,122,255,0.00);
  letter-spacing: 20px;
  text-align: right;
  /* margin-bottom:20px; */
  position: absolute;
  transition: .4s ease-in-out;
}


/* BOTTOM CHUNK */
.color-settings {
  display: flex;
  flex-direction: column; 
}

.color-input {
  width: 100px;
  height: 25px;
	background: #464646;
	border: 1px solid #222;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.20);
	border-radius: 30px;
	padding-top: 6px;
  padding-bottom: 6px;
  opacity: 0.95;
	/* Input Font */
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -0.08px;
	text-align: center;
}

.input-wrapper {
  position: relative;
  float: right;
}

input[type='range'] {
	-webkit-appearance: none;
  }
  
  .slider-input {

    appearance: none;
    border-radius: 3em;
    height: 3em;
    margin-right: 20px;
    width: 270px;
    /* border: 2px #fff solid;  */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
    background: linear-gradient(to right,  #000000 0%,#0A7FFF 50%,#ffffff 100%);
  }

  .slider-black {
    background: linear-gradient(to right,  #000000 0%, #ffffff 100%);
  }
  
  input:focus {
	outline: none;
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    /* background: white; */
    border: 2px white solid;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.3);
    height: 3em;
    width: 3em;
    transition: all 250ms ease-in-out;
}

input[type='range']::webkit-slider-thumb:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,.5);
  }

.color-background {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

/* .color-foreground {
  padding-top: 30px;
} */

.dot-rating {
  position: absolute; 
  display: flex;
  /* left: -45px; */
  top: -20px;
  z-index: 1;
}

.dot-aligner {
  margin: -2px;
  left: -50px;
  top: -20px;
}

.dot-divider {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 70vh;
  left: 50%;
  transform: translate(-50%, 0%);
}

.shoo {
  z-index: -10;
  /* left:29.25%;
  top:85vh; */
}

.dot-white {
  display: flex;
}

.dot-blue {
  display: flex;
  position: absolute;
  z-index: 100;
  top: -10vh;
  left: -31.5vh;
}

#imgPass {
  height: 150px;
}

/* FEATURES */

.features {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.head {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #262626;
  letter-spacing: 0;
}

.subhead {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #797979;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.feature-duo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-margin-top-100 {
  margin-top: 100px; 
}

.flag {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #0A7FFF;
  letter-spacing: 0;
  text-align: center;
}

.txt-flag {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #262626;
  letter-spacing: 0;
  text-align: center;
  line-height: 21px;
  max-width: 200px;
  margin-top: 5px;
  margin-bottom: 40px;
}

.img-feature {
  margin-bottom: 20px;
  max-width: 320px;
}


/* MISSION */
.mission {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: #E3EFFE;
}

.u-txt-l {
  text-align: left;
}

.u-txt-c {
  text-align: center;
}

.link {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #262626;
  letter-spacing: 0;
  transition: .3s ease-in-out;
}

.link-wrapper {
  border-bottom: 3px #0A7FFF solid;
}


.link-arrow {
  transition: .3s ease-in-out;
  font-weight: 900;
}


.link:hover .link-arrow {
  padding-left: 15px;
  transition: .3s ease-in-out;
}


.txt-mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:40px;
}

.link-wrapper {
  padding-bottom: 10px;
  transition: .3s ease-in-out;
}

.u-blue {
  color: #0A7FFF;
}

/* ISSUE */

.issue {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* FOOTER */

footer {
  background-color: #262626;
  height: 400px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.ygis-copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 50px;
}
 
.logo-ygis {
  margin-bottom: 10px;
}

.footer-copyright {
  opacity: 0.75;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-top: 10px;
}

.footer-link {
  opacity: 0.9;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  /* transition: 1s ease-in-out; */
  padding-bottom: 5px;
}

.footer-link:hover {
  border-bottom: 2px #0A7FFF solid;
  /* transition: 1s ease-in-out; */
}

.createdby-desktop {
  display: none;
}

 /* DESKTOP + TABLET */
 
 @media (max-width: 820px) {

  .rater {
    display: none;
  }

  .dd2 {
    display: none;
  }

  .dd3 {
    display: none;
  }

  .dd4 {
    display: none;
  }

  .dot-blue {
    left: -15vh;
  }

  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
 }


 @media (min-width: 820px) {

.nav-wrapper {
  width: 100%;
  position: fixed;
  padding-bottom: 80px;
  background-color: #0A7FFF;
  z-index: 100;
  top: 0;
  border-radius: 0 0 0 100px;
  transition: top 0.2s ease-in-out;
}

.nav-up {
  top: -90px;
  transition: top 0.2s ease-in-out;
}

.logopack {
  padding-left: 10vw;
}

.hero {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.lead {
  font-size: 72px;
  line-height: 80px;
  margin-bottom:20px;
}
.leadline {
  font-size: 21px;
  line-height: 30px;
  max-width: 660px;
}

  .feature-duo {
  flex-direction: row;
  margin-top: 50px;
}

.img-right {
  flex-direction: row-reverse;
}

.head {
  font-size: 38px;
  color: #262626;
  letter-spacing: 0;
  text-align: left;
}

.subhead {
  font-size: 24px;
  color: #797979;
  letter-spacing: 0;
  line-height: 32px;
  align-self: center;  
  max-width: 800px;
}

  .flag {
    text-align: left;
    font-size: 24px;
    color: #0A7FFF;
    letter-spacing: 0;
  }

  .txt-flag {
    text-align: left;
    font-size: 24px;
    color: #262626;
    letter-spacing: 0;
    line-height: 32px;
    max-width: 350px;
  }

  .txt-feature {
    margin-right: 20px;
    margin-left: 20px;
  }

  .link {
    font-size: 24px;
  }

.mission {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.txt-mission {
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 0;
}

.img-mission {
  margin-left: 40px;
}

footer {
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 0;
  height: 250px;
}

.footer-links {
  flex-direction: row;

}

.createdby {
display: none;
}

.createdby-desktop {
  display: block;
  opacity: 1;
}

.footer-link {
  margin-left: 10px;
  margin-right: 10px;
}

.ygis-copyright {
  order: 2;
}

}



@media (min-width: 480px) and (max-width: 820px) {
  .lead {
    font-size: 68px;
    line-height: 75px;
  }
  .leadline {
    font-size: 21px;
    line-height: 30px;
    max-width: 500px;
  }

  .dd4 {
    display: none;
  }
  
  .dd2 {
    display: block;
  }

  .dd3 {
    display: block;
  }

  .dot-blue {
    left: -37vh;
  }


  .feature-duo {
    flex-direction: row;
    margin-top: 30px;
  }

  .img-right {
    flex-direction: row-reverse;
  }

  .flag {
    text-align: left;
  }

  .txt-flag {
    text-align: left;
  }

  .txt-feature {
    margin-right: 20px;
    margin-left: 20px;
  }


  

}

